<div class="row">
  <div class="col">
    <app-newspaper-header title="Today's posts"></app-newspaper-header>
  </div>
</div>
<ng-container *ngTemplateOutlet="toolbar; context: { $implicit: {postfix: '_top'} }"></ng-container>

<ng-container *ngIf="(posts$ | async); else wait">
  <div class="row">
    <div *ngFor="let post of (posts$ | async)" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4">
      <app-card
        [content]="post.body"
        [id]="post.id"
        [title]="post.title"
        [user]="(getUserById$(post.userId) | async)"
      ></app-card>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="toolbar; context: { $implicit: {postfix: '_bottom'} }"></ng-container>
</ng-container>

<ng-template #toolbar let-settings>
  <div class="row mb-4">
    <div class="col d-flex justify-content-end">
      <app-button-link (click)="resetPosts()" class="me-2" color="warn"><mat-icon>loop</mat-icon> reset posts</app-button-link>
      <app-button-link (click)="createPost()" [attr.id]="'addPost' + settings?.postfix" class="me-2"><mat-icon>add</mat-icon> new post</app-button-link>
    </div>
  </div>
</ng-template>

<ng-template #wait>
  <app-spinner></app-spinner>
</ng-template>

